
<html>
  <head>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/875526899386953779/d46976087eef1662db19c8272ebb57e4.png"/>
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/avatars/875526899386953779/d46976087eef1662db19c8272ebb57e4.png"/>
    <meta name="description" content="Aidex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidex</title>
  </head>
  <body>
    <div class="Botting-Panel">
    <div>
      <h1 class="Header">Enter an URL and get your result to get the Pokémon's name</h1>
    </div>
    <form action="/identify", method = "POST">
    <div>
      <input  class="Aidex Input" id="Aidex_1" name="invitecode" type="text" placeholder="URL"></input>
    </div>
    </form>
    </div>
  </body>
<html>

